@media only screen and (max-width: 1024px) {
    .grid-post {
        grid-template-rows: 1fr 1fr 1fr;
    }
    .rocket-project-link {
        width: 100%;
        margin: 0;
    }
    .grid-post {
        grid-template-areas: 
            "pic"
            "post-title"
            "post-info"
            "post-techs";
        grid-template-rows: min-content 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .post-pic {
        margin-left: 0;
        width: 75px;
    }
    .profile-card-2 > a > span {
        font-size: .85em;
    }
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-areas: 
            "aside"
            "main"
            "footer";
        grid-template-rows: auto auto 50px;
        grid-template-columns: 1fr;
    }
    aside {
        padding: 25px;
        padding-right: 37px;
    }
    .profile-card-3 {
        gap: 5px;
    }
}

@media only screen and (max-width: 480px) {
    main, aside {
        padding: 10px;
    }
    main {
        padding-top: 25px;
    }
}